/* Global Styles */

body {
    background-color: #A66556;
   font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #260101;
}

a:hover {
    text-decoration: none;
}

/* Mobile Styles */

#container {
    background-color: #F7E4C2;
    margin: 10px;
    border: 4px solid #733729;
    padding: 10px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
}

nav {
    text-align: center;
    border-bottom: 2px solid #733729;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
display: block;
}

nav li a {
    display: block;
    background-color: #A66556;
    color: #F2F2F2;
    height: 60px;
    min-width: fit-content;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 0;
    border: 2px solid #733729;
}

nav li a:hover {
    color: #A66556;
    background-color: #260101;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
padding: 10px;
}

.col {
    margin: 10px 0;
}

.col img {
    border-radius: 10px;
    border: 2px solid #733729;
}

footer {
    padding: 40px;
    text-align: center;
}

/* Tablet Styles */

@media (min-width: 768px) {
   nav {
    padding: 10px 0;
    border: 4px solid #733729;
   }
    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

    .col img {
        width: 30%;
    }

}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        background-color: #F7E4C2;
    }

    .FamousArt {
        display: flex;
    }

    .col {
        border: 4px solid #733729;
        margin:10px;
        padding: 10px;
        border-radius: 10px;
        width: 33%;
    }

    .col img {
        width: 100%;
    }

    .multi_col {
        display: flex;
    }

    section, aside {
        border: 4px solid #733729;
        margin:10px;
        padding: 10px;
        border-radius: 10px;
    }

    .home_section {
        width: 70%;
    }

    .home_aside {
        width: 30%;
    }

    .img_style {
    width: 50%;
    border: 4px solid #733729;
    border-radius: 10px;
    box-shadow: 4px 4px 7px #260101;
    margin-top: 20px;
    margin-bottom: 20px;
    }

}