/* Global Styles */

body {
    background-color: #E3C0C5;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #813A66;
}

a:hover {
    text-decoration: none;
}

/* Mobile Styles */

#container {
    background-color: #B8C1B5;
    margin: 10px;
    border: 4px solid #849474;
    padding: 10px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #849474;
}

nav {
    text-align: center;
    border-bottom: 2px solid #849474;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
display: block;
}

nav li a {
    display: block;
    background-color: #472437;
    color: #E3C0C5;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 0;
    border: 2px solid #849474;
}

nav li a:hover {
    color: #813A66;
    background-color: #472437;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
padding: 10px;
}

.col {
    margin: 10px 0;
}

.col img {
    border-radius: 10px;
    border: 2px solid #849474;
}

footer {
    padding: 40px;
    text-align: center;
}

/* Tablet Styles */

@media (min-width: 768px) {
   nav {
    padding: 10px 0;
    border: 4px solid #849474;
   }
    nav li {
        display: inline;
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

    .col img {
        width: 30%;
    }

}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        background-color: #B8C1B5;
    }

    .FamousArt {
        display: flex;
    }

    .col {
        border: 2px solid #849474;
        margin:10px;
        padding: 10px;
        border-radius: 10px;
    }

    .col img {
        width: 100%;
    }

    .multi_col {
        display: flex;
    }

    section, aside {
        border: 2px solid #849474;
        margin:10px;
        padding: 10px;
        border-radius: 10px;
    }

    .home_section {
        width: 70%;
    }

    ,home_aside {
        width: 30%;
    }

}